.container
  .col-md-12
    = link_to 'New', new_food_path, class: "btn btn-default"
    .foods-wrapper
      .row
        %table.table
          %tr
            %th
              ID
            %th
              Author
            %th
              Name
            %th
              Url
            %th
              Show
            %th
              Edit
            %th
              Destroy
          - if @foods
            - @foods.each do |food|
              %tr
                %td
                  = food.id
                %td
                  = food.user.first_name rescue nil
                %td
                  = truncate food.name, length: 100
                %td
                  = link_to food.url, food.url, length: 100
                %td
                  = link_to 'Show', food_path(food)
                %td
                  = link_to 'Edit', edit_food_path(food)
                %td
                  = link_to "Delete", food_path(food), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }

        = will_paginate @foods
