.container
  .col-md-6
    = form_for(@food) do |f|
      .field.form-group
        = f.text_field :name, placeholder: 'Name', class: "form-control", required: true
      .field.form-group
        = f.text_field :url, placeholder: 'Url to recipe', class: "form-control", required: true
      = f.hidden_field :user_id, value: current_user.id

      .actions
        = f.submit "Create", class: "btn btn-default"
