.container
  .col-md-12
    = link_to 'New', new_joke_path, class: "btn btn-default"
    .jokes-wrapper
      .row
        %table.table
          %tr
            %th
              ID
            %th
              Author
            %th
              Content
            %th
              Show
            %th
              Edit
            %th
              Destroy
          - if @jokes
            - @jokes.each do |joke|
              %tr
                %td
                  = joke.id
                %td
                  = joke.user.first_name rescue nil
                %td
                  = truncate joke.content, length: 100
                %td
                  = link_to 'Show', joke_path(joke) 
                %td
                  = link_to 'Edit', edit_joke_path(joke)
                %td
                  = link_to "Delete", joke_path(joke), method: :delete, data: { confirm: 'Are you certain you want to delete this?' }
                  
        = will_paginate @jokes